[user]
        name = Elliot Davies
        email = elliot.davies@habito.com
[push]
        default = simple
[core]
        editor = vim
[alias]
        ch = checkout
        c = commit
        cam = commit -am
        d = diff
        ps = push
        pl = pull
        s = status
